<div id="node-17" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <h3>Enable features first</h3><p>Adding new content can be done either directly within your site or from within the Control Panel. In either case you need to first enable the specific feature before adding any content of that type. For instance to add a new <strong>publication</strong> you must have the <strong>Publications</strong> feature enabled. (By default Publications, Classes, and Announcements are enabled, although many other features are available as well.)</p><h3>"Add.." links</h3><p>From within the Control Panel look for the Content menu button. Once clicked you'll see a second menu showing content for each feature you've enabled. From there look for the "Add.." link in red.</p><p>To add content directly from within your site you'll need to be on that feature's page. To add a new publication go to [yoursite]/publications and look for the "Add publication" link. It is in red and appear with a plus sign. To add a new blog post go to [yoursite]/blog and look for the "Add blog" link.</p><p>Note: Enabling a new feature does not automatically create a menu option on your site. The feature's page will be available once the Feature is enabled but not neccesarily a menu option leading to that page.</p><h3>Rich text editor</h3><p>Your site comes with a rich-text editor which functions as any standard word processor might. There are options for bold, italic, lists and more. You'll also find a couple of website-specific options.</p><h4>Controlling the "teaser" break</h4><p>Many pages of content will initially show short "teasers" of each post along with a link to the full page. By default the system will try to show the first paragraph of your post as the "teaser" but you can adjust where that teaser break should go. To adjust the teaser break, move your cursor to the desired location and click the&nbsp;<strong>teaser break button </strong>(<img class="mceItem" src="path:teaser-break.gif" alt="" />).</p><h4>Copying and pasting from other sources</h4><p>Many site owners will want to copy and paste material from other sources such as a word processor document, a PDF file, or an email. Unfortunately applications like word processors and email clients often include a lot of unwanted formatting code with each copy/paste. Your site will ultimately hide unwanted or dangerous code from public view but it may appear to you in the rich text editor and may be distracting. To avoid this you can click the <strong>Paste as Plain Text</strong> button (<img class="mceItem" src="path:paste-plaintext.gif" alt="" height="15" width="15" />) which will open a new popup window. By pasting into this window, all unwanted formatting code is stripped away entirely. You can then continue to format the text as you like.</p><table id="attachments" class="sticky-enabled">
 <thead><tr><th>Attachment</th><th>Size</th> </tr></thead>
<tbody>
 <tr class="odd"><td><a href="path:teaser-break.gif">teaser-break.gif</a></td><td>381 bytes</td> </tr>
 <tr class="even"><td><a href="path:paste-plaintext.gif">paste-plaintext.gif</a></td><td>401 bytes</td> </tr>
</tbody>
</table>
    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
