<div id="node" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
            <p>The <strong>Users</strong> section of the Control Panel allows you to manage your account and personal information.
            You can add or edit your personal information by clicking on the <strong>Personal Information</strong> tab.        
            <p>
           
            <p><strong>Adding your first and last name</strong> is highly recommend for disambiguation and it allows other users on
            the site to find you more easily.</p>            
           
            <p><strong>Entering  your professional title</strong>, such as "Professor of Economics", is also recommended.  
              You are allowed to enter as many titles as you want.           
             </p>
           
             <p>           
      <strong>Upload and Crop your photo</strong> - You can upload a photo and crop it to the default size and shape by grabbing the cropping tool handles
      and adjusting to your preference. You'll a preview of the cropped photo to the left of the cropping area.
      You'll want to make sure the original image you
      upload is&nbsp;<em>at least&nbsp;</em>the size of the default image (180px by 140px).</p>
      <p><img src="path:cropper.jpg" alt="" width="634" height="471" /></p><p>Once you've added your name, title and photo you're on your way to
      building your site.</p> 
              </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
