<div id="node-48" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>The Bio/CV feature will enable you to post and manage your <strong>Curriculum Vitae</strong> and <strong>Biography</strong>. This feature is a vital part of a scholar site. Visitors of your site will want to know information about you and your academic background, achievements, goals, projects, ideas, etc.</p><p><strong>Bio/CV Settings</strong></p><p>Once the Bio/CV feature is enabled the following settings are available:</p><p>"Use PDF upload as your CV": When this is checked the pdf you upload will be displayed on the cv section of your site insead of the information submitted on the cv form.</p><p><strong>Viewing your Bio and CV</strong></p><p>Enabling this feature will create a "Bio/CV" link in the primary menu of your site which will display your Bio and CV. After clicking on this link, you will see two tabs called "Biography" and "Curriculum Vitae". Click on the appropriate tab to toggle between your Bio or CV.</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
