<div id="node" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
 
            <p>The Booklet feature allows you to create pages that can have a hierarchical relationship to one another, much like a table of contents. This kind of structuring is useful for publishing things like sections of a manual.
 The hierarchical relationship between pages is a way to organize related content and provides sensible and direct way for users to navigate though your booklet pages.
</p>
<p>
<h2> Creating booklets and pages</h2>
New Booklets are created when creating or editing a booklet page. To add a booklet page, browse to the "Documents" section of your site and click on the <strong> + Add booklet page</strong> link. Next, you will see a form where you can enter your booklet page information. In the booklet page form, you will see a  "book outline" drop-down list which will contain the booklet designation for the page you are creating or editing:
<ul>
<p><li>To make your page part of a new booklet, select the following from the drop-down list:  <strong>  '< create a new book >' </strong></li></p>

<p><li>If you have at least one booklet saved, you can choose which booklet that the new page will belong to by selecting the name of a booklet from the drop-down list.</li></p>
</ul>

<p>Complete the all other applicable fields (Title, Body, tags, etc.). When you save the form, the page and booklet information will be saved/created.

</p>
<h2> Adding a child  page</h2>
</p>
Because booklet pages can have a hierarchical relationship, pages that placed one-level down from an existing page are called "child" pages. To add a child page to an existing booklet page, browse to the existing page and click the <strong> Add child page </strong> link at the bottom. This will load the add booklet page from and automatically set it as a child page.
</p>
 
<p>
<h2> Booklet Settings</h2>
You can customize your Booklet feature settings by navigating to the <strong>Features</strong> section of the control panel and selecting the corresponding "customize" link.

By default, the Booklet features provides primary menu link  on your site called "Documents". However you can customize the name of this menu link in the Booklet feature's settings form.
</p>
<p>
<p><strong> Widgets</strong></p>
The Booklet features comes with a widget that will appear by default in the right sidebar within the "Documents" section of you site. This widget will display a list of your booklets and users will be able to click on the booklet titles to view the content.

</p>


    </div>
  </div>
</div>
