<div id="node-55" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Content can be categorized both both feature-specific categorizes, or by site-wide categories. 
      Categorizing your content can be quite useful to both you and the users of your site. For instance you may have a blog entry, a review of a new book on Camus, and you may choose to categorize this blog post as "Camus", "absurdism",&nbsp;and "literary crititism". Meanwhile you may also haved posted some class material that focused on literary criticism on a different topic, which you categorize as "literary criticism". 
      Both the class material and your blog post on Camus can now appear together if a user searches your site for "literary criticism" or clicks on the category links that will appear in your posts.</p>
      
        <h3>What is a vocabulary?</h3>A vocabulary is a set of terms that apply to a particular topic or type of content. 
       
      
      <h3>tags</h3>The default vocabulary for your site is called "tags" and applies to every content type. It uses the concept of 
      "free-tagging". Free-tagging means that you enter a term or terms when you create or edit a post. These terms then 
      become associated with the post and become part of the vocabulary. 
      
       <h3>Modifying a vocabulary or term</h3>
       You can edit a vocabulary or any of its terms by clicking on the <strong>edit</strong> link to the right of the item.
      
      <h3>Adding a new vocabulary</h3>
      To add a new vocabulary to your site, click on the <strong>+Add new vocabulary</strong> link. You will see a pop-up window appear
      where you can select the settings for the vocabulary, including name, description, help text. You can also specific which content types
      that the vocabulary should apply for and if multiple terms can be selected for one post.
            
      </p>
      
      <h3>Adding category terms</h3><p>You can add new category terms by 
      clicking <strong>+Add new term to this vocabulary</strong>.</p>
      
      
      
      </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
