<div id="node-20" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>You have enormous control over the look and feel of your site. While more details documentation is available on the following points, it's good to familiarize with some basic concepts.</p><h3>Your Theme</h3><p>You'll want to set a 'theme' from a number of choices. Themes provide consistent visual presentation for you site. You may choose from one of many themes included with the Project, or have a custom theme developed for you by an outside designer.</p><h3>Customizing Your Layout</h3><p>Beyond the theme itself you can make choices on where pieces of information should appear throughout your site. You'll be able to add "widgets" of content to particular pages as you see fit.</p><p>Both themes and layout choices are endlessly changeable. You should have fun with your site know no content will be lost when you change the look and feel of your site.</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
