<div id="node-74" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Clicking on the <strong>Appearance</strong> button in the Control Panel gives you a number of choices. One of them is the option of selecting a <strong>'Theme'</strong>. 'Themes' are visual presentations of a particular look and feel and you have the option of choosing any of these, indeed you can change themes at will. Changing the theme only effects the look and feel of your site, but not the content you've created.</p>
      <p>Additionally, should you choose to have a web designer design a custom theme available to only you, your custom theme will appear to only you in this area of the Control Panel.</p>
      <p><strong>To choose a theme in the control panel</strong>, navigate through the available themes but way of the numbered menu above the screenshot images. To select a theme, click on the screenshot itself (a red border will appear), and then click the 'Save' button.</p>
      <h3>Flavors</h3>
      <p>Some themes may be available to you in a variety of 'flavors'. These are often distinctive changes to background or type colors, while retaining the overall look and layout of the theme</p>
      <p>To choose a theme flavor, first click on the theme. If flavors of that theme exist, you'll see a drop-down menu under the theme screenshot. Use this menu to choose the flavor of your choice.</p>
      <h3>A caveat</h3>
      <p>One thing to note about themes is that while many of them are consistent with where the various elements of your site should appear&mdash;such as your photo, name, address, etc.&mdash;some themes may have distinctive or unusual ways of displaying these elements. It is advised if changing your theme to look carefully throughout your site to determine if the placement of all the site elements work for you.</p>
      </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
