<div id="node-47" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Any single piece of content can have a menu item created which can be added to either your primary or secondary menus and which links to the content. To create such a link</p><ol><li>Locate the "Menu Settings" tab at the bottom of the page while editing/creating content.</li><li>Menu link title: This will be the link text that will appear in the menu</li><li>Parent Item: The menu that the link will be placed into</li><li>Weight: Optional. In the menu, the heavier items will sink and the lighter items will be positioned nearer the top.</li></ol><p>To manage a custom link after you have created it go to the "Menu" tab under "Settings"</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
