<div id="node-49" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>To create your bio:</p> <ol><li>Go to your site in a web browser and login to your account</li><li>Locate/Click the Bio / CV link in the navigation menu</li> <li>The Bio tab will be open by default if you have not created a Bio there will be a link titled "Add your Bio", if you have already created a bio there will be a link titled "Edit your Bio".</li> <li>Fill in the title and body and press save to create/update your bio</li></ol>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
