<div id="node-24" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Custom <strong>themes</strong> for individual scholar sites can be added to installations of the project software. 'Themes' consistent of CSS and any custom images, much as one would at the famous <a href="http://csszengarden.com">CSS Zen Garden site</a>.</p>
     <p>You do not have access to the markup itself - only the presentation layer. In this way we can provide an elegant and scalable application for all.</p>
      <p>Your custom theme will be a <strong>sub-theme</strong> of the <strong>'base theme'</strong> which will also always load. Your CSS will override the CSS of the base theme. You can create clean and compact CSS by choosing to keep whichever defaults from the <strong>base theme</strong> you want. We therefore recommend becoming familar with the markup we provide and with the default CSS. This can be done in the usual ways (we recommend using Firefox and Firebug..) but here we also provide some general background.</p>
      <p>Beyond your custom CSS and images you'll also need a customized '.info' file. The .info file (example: 'mytheme.info') resides with your CSS in your theme folder. It is a proprietary Drupal file which instructs the system where to find your theme's name, CSS file, whether there are theme 'flavor' variants, and whether you prefer to have certain widgets custom enabled.</p>
      </div>
   </div> <!-- /node-inner -->
</div> <!-- /node -->
