<div id="node-67" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>The <strong>Layout</strong> portion of the Control Panel (under <strong>Appearance</strong>) allows you to choose what elements – general throughout the site or specific to particular features – should go where. Indeed, each feature page can be customized individually. You may want to have a widget of a list of your co-authors appear on your publications page, but not on your blog. The Layout section is where you make these choices.</p><h3>Drag-and-Drop Widgets</h3><p>Some features, when enabled, add "widgets" – small blocks of related content. These widgets can be added to your layout. Once in the Layout area, simple choose which page you'd like to lay out (front page, publications page, etc.) and then drag the widgets from the top widget menu onto the layout map. Once saved those widgets will be live on the pages you've edited.</p><p><em>Dragging a widget into place</em>:<br /> <img class="mceItem" src="path:drag-drop.png" alt="" /></p><table id="attachments" class="sticky-enabled">
 <thead><tr><th>Attachment</th><th>Size</th> </tr></thead>
<tbody>
 <tr class="odd"><td><a href="path:drag-drop.png">drag-drop.png</a></td><td>76.43 KB</td> </tr>
</tbody>
</table>
    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
