<div id="node-56" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Enabling the Dataverse feature will provide a menu item within your site's primary menu that will link your existing dataverse site. <strong>You must have an existing Dataverse account in order to properly utilize this feature.</strong></p><p><strong>Dataverse feature settings<br /></strong>You will see two fields within the settings:</p><p><strong>Menu Title</strong> - This will set the name of the menu link which will appear in your site's primary menu. The default name is "Data". Visitors of your site can click on this link and they will be re-directed to your dataverse site.</p><p><strong>Dataverse alias</strong> - Enter your dataverse alias, which is the last part of your dataverse site url. For example, if your dataverse site URL is http://dvn.iq.harvard.edu/jsmith, then your dataverse alias is "jsmith".</p><p><strong>What is a Dataverse?</strong></p><p>Each dataverse hosted by a Dataverse Network is a virtual archive or organizer of research data. It can contain data sets (called <em>studies</em>) that are uploaded specifically to that dataverse or that belong to other dataverses. Data sets can be organized by collections and sub-collections. In addition to uploading studies and setting up collections, if you are the dataverse owner (administrator) you can customize the dataverse browser page.</p><p><strong>How do I create my own Dataverse?</strong></p><p>To create your own dataverse, go to the IQSS Dataverse Network (<code>http://dvn.iq.harvard.edu/dvn</code>), and click <em>Create Your Own Dataverse</em> in the top-right corner of the page. <br /></p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
