<div id="node-52" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>You can of course do anything you want with the CSS of your custom theme, but it's not a bad idea to know how the <strong>base theme</strong> on which you'll be essentially overrriding is constructed. The <strong>base theme</strong>'s CSS is loaded before yours so many <em>default</em> <em>attributes</em> can be used if you prefer.</p><h3>Holy Grail?</h3><p>The basic default layout is based on <a href="http://www.alistapart.com/articles/holygrail/">Matthew Levine's 2006 article in A List Apart</a>. We suggest reading and familiarizing yourself with the article and logic behind it.</p>
      <p>Using our divs, this is the basic layout of all themes in OpenScholar:</p><p><img src="path:holy-grail-map.png" alt="" height="495" width="630" /></p><h3>Same for headers, with a caveat</h3><p>The exact same structure and defaults are used for the header regions, however since #header-main is optional for the site owner there's additional default CSS declarations allowing for only left and right header areas.</p><table id="attachments" class="sticky-enabled">
 <thead><tr><th>Attachment</th><th>Size</th> </tr></thead>
<tbody>
 <tr class="odd"><td><a href="path:holy-grail-map.png">holy-grail-map.png</a></td><td>11.12 KB</td> </tr>
</tbody>
</table>
    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
