<div id="node-18" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Editing content on your site is a simple affair. You do need to be logged in to edit content but you can log in on any supported web browser on any computer anywhere. The fastest way to edit any content in your site is to go to the content in question and simply click the Edit link. This can done from within your website or from within the Control Panel.</p><h3>Rich Text Editor</h3><p>Your site comes with a rich-text editor which functions as any standard word processor might. There are options for bold, italic, lists and more. You'll also find a couple of website-specific options.</p><h4>Controlling the "Teaser" Break</h4><p>Many pages of content will initially show short "teasers" of each post along with a link to the full page. By default the system will try to show the first paragraph of your post as the "teaser" but you can adjust where that teaser break should go. To adjust the teaser break, move your cursor to the desired location and click the teaser break button.</p><h4>Copying and Pasting from Other Sources</h4><p>Many site owners will want to copy and paste material from other sources such as a word processor document, a PDF file, or an email. Unfortunately applications like word processors and email clients often include a lot of unwanted formatting code with each copy/paste. OpenScholar will ultimately strip away unwanted code from public view but it may appear to you in the rich text editor and may be distracting. To avoid this you can click the <strong>Paste as Plain Text button</strong> (<img class="mceItem" src="path:paste.gif" alt="" height="16" width="16" />) which will open a new popup window. By pasting into this window, all unwanted formatting code is stripped away entirely. You can then continue to format the text as you like.</p><table id="attachments" class="sticky-enabled">
 <thead><tr><th>Attachment</th><th>Size</th> </tr></thead>
<tbody>
 <tr class="odd"><td><a href="path:paste.gif">paste.gif</a></td><td>409 bytes</td> </tr>
</tbody>
</table>
    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
