<div id="node-72" class="node node-mine node-type-book">
  <div class="node-inner">
                      <div class="meta">
                  <div class="submitted">
            Sat, 10/10/2009 - 08:11          </div>
                      </div>
        <div class="content">
      <p><strong>"Features" </strong>add additional functionality to your site, either by adding a particular "kind" of content, or by adding back-end functionality to your site such as Google Analytics.</p><p>By default your site is set up with three "features" enabled: <strong>Publications</strong>, <strong>Classes</strong>, and <strong>Announcements</strong>. You can add many more additional features by going to the <strong>Control Panel</strong> and clicking the <strong>Features</strong> button in the top menu.</p><p>Enable additional features as you wish. You can enable a blog for your site for instance; links; a dataverse, feeds and a variety of others.</p><p>Many features also have a variety of settings which you may want to explore. Further documentation is available for each feature.</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->