<div id="node-71" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Once logged in you'll be sent to your site. We'll take a moment to become familiar with some basic elements of your web site.</p><h3>General Layout</h3><p>By default the site is laid out in a manner similar to many web sites. There is a header area where you'll find the photo you uploaded; your name and professional title, address, and, by default, the Harvard shield. By default there are three menu options in the primary menu: <strong>Bio/CV</strong>, <strong>Classes</strong>, and <strong>Publications</strong>. As no content has yet been added you'll otherwise see an essentially blank site.</p><h3>"Add.." Links</h3><p>Click on <strong>Bio/CV</strong> and you'll be presented with another blank page, this time with two additional tabs: <strong>Biography</strong>, and <strong>Curriculum Vitae</strong>. You'll also see a new link <strong>"Add your Bio"</strong>, distinguished as a red link with a plus sign.</p><p>These <strong>"Add.."</strong> links will be visible on pages wherever you can add new material. They are context-specific so if you're on the <strong>Bio</strong> page an<strong> "Add your Bio"</strong> link appears. If on your <strong>Publications</strong> page, an <strong>"Add publication"</strong> link appears.</p><p>To add new content you'll want to look for these <strong>"Add.."</strong> links in red and with a plus sign.</p><p>&nbsp;</p><p>&nbsp;</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
