<div id="node-66" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>By default your front page will show your latest posts (of all varieties) in order of publication (most recent at the top). However you can chose what kinds of content should be on your front page. Some may prefer latest blog entries; some may prefer their bio, or perhaps just a welcome message.</p><p>The <strong>Front Page </strong>menu link (under <strong>Settings</strong>) is where you can make choices for your front page settings. Choose "bio page", posts from very specific features, a specific page you've created, or hand-pick content as you go.</p><p>If you choose the latter (hand-pick content as you go) you'd then open specific posts, click the <strong>Admin Options</strong> button at the bottom of each post and then select <strong>"Save to Front"</strong>. The post will be added to your front page. (To remove the post from the front page, re-edit the post and again click the Admin Options button and then <strong>"Remove from Front"</strong>.)</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
