<div id="node-15" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>You can set up your web site simply by going to the <a href="http://scholar.iq.harvard.edu/site/register">site registration page</a> and entering a user name, your email address, and your preferred domain name. You will be sent an email welcoming you to your new site with information containing your account name, site url and some helpful links.</p>
      
      <p>
      After you site has been registered, go to your site home page and log into your account. You should then begin to add some basic information about your site.
      </p>
      <!--
  <table id="attachments" class="sticky-enabled">
 <thead><tr><th>Attachment</th><th>Size</th> </tr></thead>
 <tbody>
 <tr class="odd"><td><a href="path:cropper.jpg">cropper.jpg</a></td><td>64.33 KB</td> </tr>
 </tbody>
 </table>
      -->
    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
