<div id="node-31" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>The Links feature will enable you to post and manage links to external web pages that have relevance to you. You also have the ability categorize links and associate images or files with links. You might want to post links to your current or past projects, affiliated institutions, web articles of interest, etc. Your links will be automatically and neatly formatted using the title that you provide.</p><p><strong>Creating Links</strong></p> <p>There are two ways of entering content on your site, either through the Control Panel, or directly on your site's pages.</p><p>To add a link from your site, browse to your site and click the "Links" link in your primary menu. Next click on the link that says "+ Add Link" and begin entering the link information.</p><p>To add a link through the Control Panel, navigate to the Control Panel and click on the "Content" button . On the left column you will see a link that says "Link". Clicking here will display all, or any, of your existing links. From this screen, click "+Add Link" and begin entering the link information.</p><p>You have the ability to create "Tags" or categories for every link. You can also use existing tags that you had created prevoiusly for other content.&nbsp; Visitors can also find specific links by browsing the categories that you have selected for it. You also have the ability associate images or files with any link.</p><p><strong>Viewing Links<br /></strong></p><p>All of your links can be viewed by clicking on "Links" in the primary menu of your site. You can also view and manage links by navigating to the Control Panel and clicking on the "Content" button . On the left column you will see a link called "Link", that will display a list of your links. Visitors can find specific links by browsing the category that you have selected for it.</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
