<div id="node-21" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Managing your content is primarily done in the Control Panel by clicking on the Content menu button. You can select multiple posts at a time and choose betwen a variety of options, such as <strong>publishing</strong> or <strong>unpublishing </strong>(i.e. making content visible to the public),&nbsp;<strong>bulk deletions</strong>, <strong>adding</strong> or <strong>removing from your front page</strong>, etc.</p><h3>"Sticky" Posts</h3><p>Posts marked "Sticky" stick to the top of any list in which they appear. Normally posts are displayed in the order of their publication but there maybe times when you want to feature particular posts.</p><h3>"Featured" Posts</h3><p>Posts can also be marked as "Featured". Featured posts will appear in the <strong>Featured Posts</strong> <strong>widget</strong> which must be activated to display. To activate the Featured Posts widget, go to <strong>Site Layout</strong> (under Settings in the Control Panel) and drag the Featured Posts widget into whichever area you'd like it to appear.</p><p>To mark a particular post as "featured", click the Admin Options button at the bottom of the post you'd like to feature, and then select "Featured post". To remove the 'featured' property from a post, again click the Admin Options button at the bottom of the post, and selected "Remove Featured post"</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
