<div id="node-64" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>You can manage your features within the Control Panel by clicking on the "Features" button. This section will display a list of all available features. The red checkmark will indicate features which are enabled.&nbsp;</p><p><strong>Managing a Feature's Active State</strong></p><p>You can manage a feature's active state by selecting from the feature's corresponding drop-down menu:</p><p><strong>Public</strong> - Selecting "Public" will enable the feature and make all of the feature's content available to anyone who visits the site.<br /><strong>Private</strong> - Selecting "Private" will enable the feature, however the feature's content will only be accesible to the users that you have chosen. For example, you may have blog that is intended for a select or trusted audience.<br /><strong>Disabled</strong> - Selecting "Disabled" will disable or "turn off" the feature.&nbsp; If you disable a feature that was prevoiusly enabled, the feature's primary menu link, content, and widget will become hidden from all viewers, however nothing will be deleted. So if you decide to re-enable the feature later, all of your content will re-appear.</p><p>Some features may enabled on by default when you first get your site<strong><strong>. </strong></strong>Remember to always click the "Save Settings" button after making any changes to the features settings.</p><p><strong>Managing a Feature's Settings<br /></strong></p><p>Most features will come with some customizable settings. These can be accessed by clicking the feature's corresponding "settings" link in the Control Panel. Specific settings for each feature may vary, but most will allow you customize the Menu Title and Widget names.<strong><strong> <br /></strong></strong></p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
