<div id="node-34" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
             <p>The <strong>Menu</strong> section of the Control Panel (under<strong> Settings</strong>) allows you to control the menu links 
             on your site. 
             
           <p>You can <strong>change the order of how the menus appear</strong> by dragging the <img src="path:draggable.png" alt="" /> icon next 
             to the menu items. <br />
             
            You can <strong>rename the menu links</strong> by clicking on the menu link titles and typing the new name<br />
  
            You can also <strong>choose whether each menu item should be in the primary menu, the secondary menu, or off</strong>.</p>
            
            <p>After you make changes on this page, make sure to click  the <strong>"Save Changes"</strong> button at the 
            bottom of the page.</p>
      
      <p>You can completely customize the menus for your site. There are two areas for menus – a "primary menu" and a "secondary menu". Often the secondary menu might be in one of the left or right columns and would be links to perhaps second-level material. 
      Primary links are often first-level material and might typically be found in the navigation bar area. However you can experiment with links in either menus and place them wherever you like.</p><p>One caveat is that themes may presume a maximum <em>number of menu items</em> in the navigation bar area. If you exceed that number the site may look funny. That said, you're welcome to present your content in any way you prefer.</p>
     
      <p>If you create custom menu links, they will also be displayed here. Some columns may be greyed out which means that the feature responsible for this menu item is not enabled. Features can be enabled under the "Features" tab in the Control Panel.</p>
             
      </div> <!-- /node-inner -->
</div> <!-- /node -->
