<div id="node-69" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p><strong>Other Settings</strong>, under <strong>Settings</strong> in the Control Panel, is where you should find choices for displaying 
      miscellaneous settings on your site such as academic shield selection,  the Admin Menu Bar, and various other settings</p>
      
      <strong>Academic Shield</strong><p>By default your site was created with a standard Harvard shield in the right header area. You can change this to a number of other shields, or choose not to show a shield. To move the shield to another location on your site go to <strong>Site Layout.
      </strong></p>
      
      <strong>Admin Menu Bar</strong><p>By default when you're logged in and looking at your site there'll be a small button to link back to your Control Panel. Some site owners may want the full Admin Menu Bar to always appear. 
      By checking "Display Admin Menu Bar", the menu will appear at all times once logged in.</p>
      
      <strong>Domain Type</strong>
      (Specify the type of domain that accurate for your site) <p>  
      Domain Owner - your site the only one that uses this domain.<br />
      Domain Group - your site is one of several that share this domain.
      </p>      
      
       <strong>Custom Domain</strong><p>You can have a custom domain for your website by entering the domain, such as "www.example.edu". Do not include http:// <br /> 
        <strong>You first must have your registered domain pointing to the your scholar site in global DNS.</strong>
       </p>      
       
       <strong>Anonymous Contact</strong><p> By checking this checkbox you are allowing all site visitors to contact you via the site contact form. Leaving it unchecked
       will restrict the contact form to only registered users who are logged in.
       </p>    
      
       <strong>Google Analytics</strong><p> Make your site work with Google Analytics, by entering your Google Analytics account ID. The analytics data is
       automatically transferred to Google Analytics for all content pages on your site.<br /> <strong>You must have Google Analytics account.</strong>      
       </p>    
         
      
      </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
