<div id="node-59" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>The Pages feature offers the ability to post miscellaneous web pages of your choice, sort of like a "blank canvas". Perhaps you would like to post your office hours, your departmental contact information, or a message to web site visitors.</p>
<p><strong>Creating and Viewing Pages</strong></p>
<p>Pages are a special content type and can only be added through the Control Panel.<strong><br /></strong></p>
<p>To add a page, navigate to the Control Panel and click on the "Content" button . On the left column you will see a "Page" link. Clicking here will display all, or any, of your existing page posts. From this screen, click the "+Add Page" link and begin entering contents of your page.</p>
<p>You have the ability to create "Tags" or categories for every page. You can also use existing tags that you had created prevoiusly for other content.&nbsp; Visitors can also find specific pages by browsing the categories that you have selected for it. You also have the ability associate images or files with any page.</p>
<p>Pages do not appear publicly on your site automatically after saving. You can make the page publicly viewable by either:</p>
<p>1) <strong>Creating a menu link when saving or editing the page.</strong> The form to enter page information will also contain a field for you to enter a menu link. If you create a menu link for the page, the menu link will appear on your site. Subsequently, clicking on this menu link will display the page that you created.</p>
<p>2) <strong>Selecting the page as to appear on the front page in the Control Panel settings. </strong>Navigate to the Control Panel click on the "Settings" button. On the left column you will see a "Frontpage" link. The "Frontpage" section of Control Panel settings will allow you to specify a mode of front page designation.</p>
<p>You can view and manage announcements by navigating to the Control Panel and clicking on the "Content" button . On the left column you will see a "Page" link that will display a list of your announcements. Visitors can find specific announcements by browsing the category that you have selected for it.</p>
    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
