<div id="node" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
 <p>The Reader feature gives you the ability to have dynamic RSS feeds on your site.</p>
<p><h3>What is Feed?</h3></p>
<p>A feed is a web technology that pulls in rapidly or frequently updating information from a web source. The information is often displayed as dynamically changing list. A common type of content used in web feeds are news headlines. New headlines are constantly being created, so this content really lends itself to being displayed as a feed.</p>
<p>The great thing about a feed is that once you set it up, the information will automatically update as it changes. Having feeds on your site is a way to make your site lively and dynamic.</p>
<p><h3>How I find feeds for my site?</h3></p>
<p>The Feeds feature will process feeds from external web sources. Many web sites will offer feeds for their content, such as latest news.&nbsp; You should browse the web sites that have interest and relevance to your web site and look for the orange feed icon. It may say "RSS" feed, which is a type of feed format.</p>
<p><h3>I found a feed that I want on my site, now what?</h3></p>
<p><strong>You'll need to get:</strong><br />1) The URL of the feed. (Click on the orange feed icon on the external site and copy the URL.)<br />2) The name or title of the feed. (This is for your reference when you add the feed to your site.)</p>
<p>After you have obtained the pieces on information above, you can go ahead and create the actual feed on your site. There are two ways of adding feeds to your site, either through the Control Panel, or directly on your site's pages.</p>
<p>To add a feed from your site, browse to your site and click the "Feeds" link in your primary menu. Next click on the link that says "+ Add Feed" and begin entering the feed information.</p>
<p>To add a feed through the Control Panel, navigate to the Control Panel and click on the "Content" button . On the left column you will see a link that says "Feed". Clicking here will display all, or any, of your existing feeds. From this screen, click "+Add Feed" and begin entering the feed information.</p>
<p><h3>The "Add Feed" Form</h3></p>
<p>You'll need to enter some basic information to the add feed form. Here is where you use the information that you captured in the "<strong>You'll need to get:</strong>" list above. Populate the "Title" and "Feed URL" fields with this information.</p>
<p>There are also some Feed settings to configure the frequency of the feed updates, such as "Refresh feed on creation" and "Update existing feed items". It's ok to just leave the default settings here.</p>
<p>Although you may want to change the "Delete news items older than" setting if you don't want to keep old feed information forever. This setting configures the time frame of how long to hold onto feed information.</p>
<p>You have the ability to create "Tags" or categories for every feed. You can also use existing tags that you had created previously for other content.&nbsp; Visitors can also find specific feeds by browsing the categories that you have selected for it.</p>
<p><h3>Where can I see the feeds after they've been set up?<br /></h3></p>
<p> 
The feeds that you add to your site will automatically appear in the "Feeds" section for your site. The latest feed items will also appear in the default widget called "Latest news". 
</p>
<p><h3> Widgets </h3></p>
The Reader feature comes with default widgets:

<p><strong> Categories</strong> - The categories that you have listed when you saved your feeds will all be listed here. This widget allows users to view feed items based on their category selection. Categories are very useful in classifying feed content. Users may find it convenient to find a variety feed items that fall under their area of interest.</p>
<p><strong> Latest news</strong> - The 10 most recent feed items will be listed in this widget. These list items will refresh as new feeds content aggregates.</p> 
<p><strong> Feed subscriptions</strong> - This widget will list your feed subscriptions. This may useful to user who would like to see the source(s) of your feed content.</p>

<p><strong>AddThis button</strong> - The AddThis button allows users to share your site's content to social networking sites by book creating shared bookmark lists.</p>

<p><h3>Feature settings  </h3>  </p>
<p>You can customize the name of the "Feeds" primary menu link as well as the names of your widgets  by navigating to the <strong>Features</strong> section of the control panel and selecting the corresponding "customize" link. </p>

</p>
<p><h3>How long are feed items kept?</h3></p>
<p>
Feed items older than <strong>2 weeks</strong> will be automatically deleted from your site. Keep in mind that a feed, like a news flash, focuses on the latest information. People who view or subscribe to your feed will expect feed items to update frequently. Your feeds will check for and display new feed items about every hour.
</p>
<p><h3>Managing Feeds<br /></h3></p>
<p>All of your feeds can be viewed by clicking on "Feeds" in the primary menu of your site. You can also view and manage links by navigating to the Control Panel and clicking on the "Content" button . On the left column you will see a "Feed" link, that will display a list of your links. Visitors can find specific links by browsing the category that you have selected for it.</p>
<p><h3>Can I have feeds for the content that I create?</h3></p>
<p>You already do. The content that you create will automatically be available in an RSS feed format for others to subscribe to.</p>
<p>Keep in mind that the Feeds feature is designed to pull information from <strong>external web sources</strong>. Having a collection of feeds from a variety of sources is known as <em>aggregation... </em>and having a web site that aggregates content makes the site lively and interesting for your visitors.</p>
            
            </p>
	</div>
  </div>
</div>