<div id="node-16" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>You'll want to log in and set up some basic site information such as your name, professional title etc.</p><h3>New Password, Name, Title and Photo</h3><p>If this is the first time logging into your account, you'll be asked to confirm your email address and select a more permanent password; enter your name; your professional title and add a photo of yourself. (Name, title, and photograph are not required.)</p>
      
      <h3>Cropping your photo</h3><p>You can upload a photo and crop it to the default size and shape by grabbing the cropping tool handles and adjusting to your preference. You'll a preview of the cropped photo to the left of the cropping area. You'll want to make sure the original image you upload is&nbsp;<em>at least&nbsp;</em>the size of the default image (180px by 140px).</p><p><img src="path:cropper.jpg" alt="" width="634" height="471" /></p><p>Once you've added your name, title and photo you're on your way to building your site.</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
