<div id="node-61" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>The Software feature will enable you to post and manage information about software development projects that you have been involved with.</p><p><strong>Creating Software Posts</strong></p><p>There are always two ways of entering content on your site, either through the Control Panel, or directly on your site's pages.</p><p>To add a software post from your site, browse to your site and click the "Software" link in your primary menu. Next click on the link that says "+ Add Software" and begin entering information about your software project.</p><p>To add a software post through the Control Panel, navigate to the Control Panel and click on the "Content" button . On the left column you will see a "Software" link. Clicking here will display all, or any, of your existing software posts. From this screen, click the "+Add Software" link and begin entering information about your software project.</p><p>You have the ability to create "Tags" or categories for every software post. You can also use existing tags that you had created prevoiusly for other content. You also have the ability associate images or files with any software post, although executable files are not permitted.</p><p><strong>Viewing Software Posts</strong></p><p>All of your software posts can be viewed by clicking on "Software" in the primary menu of your site. You can also view and manage software posts by navigating to the Control Panel and clicking on the "Content" button . On the left column you will see a "Software" that will display a list of your software posts. Visitors can find specific software posts by browsing the categories that you have selected for it.</p>    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
