<div id="node-27" class="node node-mine node-type-help">
  <div class="node-inner">
            <div class="content">
      <p>Once logged in you'll see a small tabbed menu to the top right of your browser window. Clicking on <strong>"Control Panel"</strong> will send you to the<strong> Control Panel</strong> area.</p><p>The Control Panel serves as your main access point to changing settings, adding features and general site building. By default a Control Panel menu will appear at the top of your site. This top tool bar allows for quick access to settings but can be disabled if you find it distracting.</p><p><img class="mceItem" src="path:Control-Panel-Menu.png" alt="" /></p><p>The Control Panel menu offers links to a number of administrative choices:</p> <p><strong>Features</strong> to be added or removed from your site. This would include a blog, announcements, classes, publications, and more. Features often each come a variety of settings and customization tools.</p> <p><strong>Settings</strong> for basic site information, site menus, site layout, and of course for choosing the theme you prefer.</p> <p><strong>Content</strong> area where you can organize, edit and categorize any content you've added to your site. Options here are reflected by which features you've enabled. For instance if you've enabled the "Image Gallery" feature, you'll see<em> Image Galleries</em> listed in the content section.</p> <p><strong>Users </strong>– anyone who has access to your site or another – play a key role in OpenScholar. You can add and then associate users with your site for a number of reasons, including adding a assistant to help manage your site.You may want to allow particular colleagues&nbsp; to comment on your blog posts, or on working papers you post. This choice in the Control Panel allows gives you access to change your own user information such as your username, password, and email address.</p> <p><strong>News</strong> such as the posts of colleagues whose work you're interested in – including their comments on yours and others' sites – can be monitored. You can also catch up on any OpenScholar news.</p> <p><strong>Support</strong>, such as opening and tracking a support ticket.</p><table id="attachments" class="sticky-enabled">
 <thead><tr><th>Attachment</th><th>Size</th> </tr></thead>
<tbody>
 <tr class="odd"><td><a href="path:Control-Panel-Menu.png">Control-Panel-Menu.png</a></td><td>12.92 KB</td> </tr>
</tbody>
</table>
    </div>
      </div> <!-- /node-inner -->
</div> <!-- /node -->
