.shield_wrapper {
 position: relative;
}

.shield_wrapper fieldset {
  border: none;
  }

.shield-picker li {
  float: left;
  width: 100px;
  height: 120px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 2px;
  cursor: pointer;
  }

.shield-picker img {
  margin-top: 20px;
  }

.shield-picker li.checked {
  border-color: red;
  border-width: 3px;
  width: 96px;
  height: 116px;
  }

.shield-picker li.checked img {
  margin-top: 18px;
  }

/*
div#cp-settings-shield fieldset input{
  display:none;
   }*/