#cp-toolbar-toolbar, #cp-toolbar-user {
  height: 40px;
  }

#cp-toolbar-toolbar li, #cp-toolbar-user li {
  height: 40px;
  line-height: 40px;
  margin-top: 0;
  }

#cp-toolbar-toolbar {
  float: left;
  margin-left: 10px;
  }

#cp-toolbar-user  {
  float: right;
  margin-right: 10px;
  }

#cp-toolbar-toolbar li {
  float: left;
  margin-right: 18px;
  padding: 0;
  }

#cp-toolbar-toolbar li.active-trail {
  background: url(images/topmenu-active.png) no-repeat transparent 9px 100%;
  }

#cp-toolbar-user li {
  float: right;
  margin-left: 18px;
  }

#cp-toolbar-toolbar li a {
  padding-left: 30px !important;
  background: url(images/topmenu-icons.png) no-repeat 0 0 transparent;
  font-size: 10px !important;
  line-height: 27px !important;
  font-weight: normal !important;
  color:#ddd !important;
  display:block !important;
  height: 27px;
  margin-top: 6px !important;
  font-style: normal !important;
  font-family: arial, sans-serif !important;
  text-decoration:none !important;
  }

#cp-toolbar-toolbar li a#admin-link-cp-features {
  background-position: 0 0;
  }

#cp-toolbar-toolbar li a#admin-link-cp-appearance {
  background-position: 0 -28px;
  }

#cp-toolbar-toolbar li a#admin-link-cp-settings {
  background-position: 0 -56px;
  }

#cp-toolbar-toolbar li a#admin-link-cp-content {
  background-position: 0 -84px;
  }

#cp-toolbar-toolbar li a#admin-link-cp-users {
  background-position: 0 -112px;
  }
#cp-toolbar-toolbar li a#admin-link-cp-news {
  background-position: 0 -140px;
  }

#cp-toolbar-toolbar li a#admin-link-cp-support {
  background-position: 0 -168px;
  }

#cp-toolbar-user li a, #cp-toolbar-user li a:visited {
  font-size: 12px !important;
  color: #ddd !important;
  }

#cp-toolbar-user li.last a, #cp-toolbar-user li.last a:visited {
  padding: 1px 8px !important;
  background: #DDDDDD;
  color: #000 !important;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  }

#cp-toolbar-user li.last a:hover {
  text-decoration: none;
  background: #FFF;
  }