#scholarlayout-container .scholarlayout-widgets-list {
  width: 202px;
  height: 121px;
  top: 0;
  left: 0;
  }

#scholarlayout-container #scholarlayout-header-main,
#scholarlayout-container #scholarlayout-content-main {
  width: 428px;
  left: 209px;
  }

#scholarlayout-container #scholarlayout-header-right,
#scholarlayout-container #scholarlayout-right {
  left: auto;
  right: 0;
  }

#scholarlayout-container #scholarlayout-content-main,
#scholarlayout-container #scholarlayout-left,
#scholarlayout-container #scholarlayout-right {
  top: 170px;
  height: 344px;
  }

#scholarlayout-container #scholarlayout-navbar,
#scholarlayout-container #scholarlayout-footer {
  width: 846px;
  height: 36px;
  top: 128px;
  }

 #scholarlayout-container #scholarlayout-footer {
  bottom: 0;
  top: auto;
  left: 0;
  }