#scholarlayout-container {
  width: 848px;
  height: 560px;
  position: relative;
  margin-left: 0;
  margin-top: 10px;
  font-size: 12px;
  }

#scholarlayout-container .scholarlayout-widgets-list {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 1px dashed #5e819e;
  background:#fff;
  }

#scholarlayout-container .scholarlayout-widgets-list:hover {
  background: #eff6f6;
  }

#scholarlayout-container dt {
  background: #cdf2f2;
  color: #888;
  position: absolute;
  left: 8px;
  top: -26px;
  display:none;
  padding: 3px 6px;
  }

#scholarlayout-container dl.active, #scholarlayout-container dt {
  background: #cdf2f2;
  border: 2px solid #444;
  margin: -1px;
  }

#scholarlayout-content-main dt {
  display:block;
  position: static;
  padding: 0;
  margin: 0 0 0 7px;
  border: none;
  background: transparent;
  }

#scholarlayout-container dl.active dt {
  display:block;
  border-bottom: none;
  z-index: 10;
  }

#scholarlayout-container #scholarlayout-content-main {
  background: #efefef;
  }

#scholarlayout-top-widgets {
  height:106px;
  background:#eaebe9;
  width: 100%;
  padding-left: 22px;
  margin-bottom: 0;
  overflow:hidden;
  }

#cp-settings-site {
  padding-top: 10px;
  background:url(images/cp-settings-site.png) repeat-x 0 -22px transparent;
  }

dd.scholarlayout-item {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: bold;
  color:#565e66;
  cursor: pointer;
  text-transform: capitalize;
  }

#scholarlayout-top-widgets dd.scholarlayout-item {
  float: left;
  width: 118px;
  height: 21px;
  text-align: center;
  color:#444545;
  padding-top: 85px;
  background:url(images/widget-bg.png) no-repeat transparent 50% 10px;
  line-height: 86%;
  font-size: 11px;

  }

#scholarlayout-container dd.scholarlayout-item {
  margin: 0;
  padding: 4px 20px 8px 31px;
  background: url(images/widget-placed-bg.png) no-repeat 0 50% #f0f3f3;
  height: 23px;
  position:relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #666;
  overflow:hidden;
  }

#scholarlayout-container #scholarlayout-footer dd.scholarlayout-item, #scholarlayout-container #scholarlayout-navbar dd.scholarlayout-item {
  width: 282px;
  float:left;
  }

#scholarlayout-container dd.scholarlayout-item:hover {
  background-position: -850px 50%;
  background-color: #f8f9e2;
  border-top-color: #666;
  }

.scholarlayout-item-settings {
  color:#90a0a0;
  font-weight: normal;
  font-size: .9em;
  display:block;
  text-transform: none;
  }

dd.scholarlayout-item .close-this {
  position: absolute;
  top: 4px;
  right: 7px;
  }

.layout-exceptions {
  position:absolute;
  right: -101%;
  width: 100%;
  min-height: 100%;
  top: 0;
  background:#222;
  color: #fff;
  text-transform: capitalize;
  margin:0;
  z-index: 10;
  }

.toggle-exceptions {
  font-weight:bold;
  color:#578da1;
  }

.layout-exceptions h4, .layout-exceptions ul {
  padding: 0 15px;
  font-size:10px;
  text-transform: uppercase;
  }

.layout-exceptions h4 {
  padding-top: 3px;
  }

.layout-exceptions li {
  display:inline;
  }

#scholarlayout-top-widgets .close-this {
  display:none;
  }

#scholarlayout-top-widgets dd.disabled,
#scholarlayout-container dd.disabled {
  display:none;
}

.poof {
	background: transparent url(images/poof.png) no-repeat 0 0;
	cursor: pointer;
	display: none;
	height: 32px;
	position: absolute;
	width: 32px;
  }

#scholarforms_save_warning {
  clear: both;
  }

#edit-settings-layout-page-type-wrapper  {
  position: relative;
  height: 37px;

  }

#edit-settings-layout-page-type-wrapper label,
#edit-settings-layout-page-type-wrapper .description {
  color: #fff;
  background:#666f7a;
  }


#edit-settings-layout-page-type-wrapper label, #edit-settings-layout-page-type-wrapper select {
  float: left;
  margin-right: 6px;
  }

#edit-settings-layout-page-type-wrapper .description {
  float: left;
  }

#cp-content .innerframe #cp-settings-form {
  margin-top: 0;
  }

#cp-settings-form .form-submit {
  margin-left:20px;
  }

#cp-settings-form #edit-reset {
  left: 164px;
  }

.ahah-progress-throbber {
  width: 150px;
  }

.widget-prev,.widget-next {
  width: 30px;
  background: url(images/widget-prev.png) 0 50% no-repeat #d5d6d4;
  position: absolute;
  left:0;
  height: 106px;
  cursor: pointer;
  }

.widget-prev:hover,.widget-next:hover {
  background-position: -30px 50%;
  }

.widget-next {
  left: auto;
  right: 0;
  background-image: url(images/widget-next.png);
  }

.disabled {
  background: transparent !important;
  }

#scholarlayout-container .widget-prev, #scholarlayout-container .widget-next{
  display:none;
  }

#edit-settings-layout-page-type-wrapper {
  position: relative;
  }

.ahah-progress {
  position: absolute;
  left: 260px;
  top:-9px;
  height: 31px;
  padding-top: 6px;
  float:none;
  background: #666F7A;
  width: 200px;
  color: #FBD242;
  line-height: 26px;
  font-weight:bold;
  }

