#vsite-taxonomy-wrapper {
  clear: both;
  padding-bottom: 1em;
  margin-top: 2em;
  }

#vsite-taxonomy-wrapper .row {
  clear: both;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
  width: 712px;
  }


#vsite-taxonomy-wrapper h3 {
  font-size: 1.2em;
  margin-bottom: .5em;
  float: left;
  }

.vsite-taxonomy-terms {
  padding-bottom: 2em;
  clear: both
  }

.item-list .vsite-taxonomy-terms li,
.block-vsite_taxonomy ul li {
  list-style: none;
  margin: 0;
  }

.block-vsite_taxonomy ul li {
  padding-left: 0;
  }

.term-head {
  padding: .3em;
  padding-right: 0;
  font-weight: bold;
  }


li li .term-head {
  font-weight: normal;
  }

li li li .term-head {
  font-size: .9em;
  line-height: 1.3em;
  }

.item-list .vsite-taxonomy-terms ul .term-head,
.block-vsite_taxonomy li ul .term-head {
  padding-left: 1em;
  }

.item-list .vsite-taxonomy-terms li ul ul .term-head,
.block-vsite_taxonomy li ul ul .term-head {
  padding-left: 2em;
  }


.item-list .vsite-taxonomy-terms li ul ul ul .term-head,
.block-vsite_taxonomy li ul ul ul .term-head {
  padding-left: 3em;
  }


.item-list .vsite-taxonomy-terms li ul ul ul ul .term-head,
.block-vsite_taxonomy li ul ul ul ul .term-head {
  padding-left: 4em;
  }


.item-list .vsite-taxonomy-terms li ul ul ul ul ul .term-head,
.block-vsite_taxonomy li ul ul ul ul ul .term-head {
  padding-left: 5em;
  }

.item-list .vsite-taxonomy-terms li ul ul ul ul ul ul .term-head,
.block-vsite_taxonomy li ul ul ul ul ul ul .term-head {
  padding-left: 6em;
  }

.item-list .vsite-taxonomy-terms li ul ul ul ul ul ul ul .term-head,
.block-vsite_taxonomy li ul ul ul ul ul ul ul .term-head {
  padding-left: 7em;
  }


.vsite-taxonomy-terms li a {
  color: #000;
  }

#vsite-taxonomy-wrapper ul.admin, .term-head ul.admin {
  float: right;
  padding-right: 40px;
  padding: 0;
  margin: 0;
  background: transparent;
  text-align: right;
  }

#vsite-taxonomy-wrapper ul.admin {
  margin-right: .2em;
  }

#vsite-taxonomy-wrapper li li ul.admin {
  margin-right: 0;
  }

#vsite-taxonomy-wrapper ul.admin li, .term-head ul.admin li {
  float:none;
  display:inline;
  margin-bottom: 0;
  padding-right: 0;
  }

.add {
  clear:both;
 }

.term-head:hover {
  background-color: #e5ebeb;
  }

#vsite-taxonomy-wrapper .description {
  margin: 0;
  padding: 0;
  }

.addcategory {
  clear: both;
  text-align:right;
  }


#block-vsite_taxonomy-vsite_taxonomy0 {
  border: none;
  padding-top: 0;
  margin-top: 0;
  }