#cp-content .innerframe #cp-settings-theme form#cp-settings-form, #cp-content .innerframe #cp-settings-theme form#cp-settings-form fieldset {
  margin:0;
  padding: 0;
  }

.page-cp-settings-theme .help {
  position: absolute;
  }

ul.theme-picker {
  width: 2000em;
  clear: both;
  }

li.item-theme-picker  {
  background: url(images/theme-picker-bg.png) no-repeat top center transparent;
  padding: 23px 0 30px 0;
  float: left;
  width: 600px;
  text-align: center;
  }

ul.theme-picker li img {
  border: 1px solid #959191;
  margin-top: 2px;
  }

ul.theme-picker li.checked img {
  border: 3px solid red;
  margin-top: 0;
  }

#cp-settings-form #next, #cp-settings-form #prev {
  width: 15px;
  height: 14px;
  background: transparent url(images/arrows.png) 0 0 no-repeat;
  margin-top: 3px;
  }

#cp-settings-form #prev {
  background-position: 0 -14px;
  }

.theme-picker h3, ul.theme-picker li p, .item-theme-picker .form-item {
  margin-top: 3px;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0;
  }

.section-cp .item-theme-picker .form-item {
  vertical-align: top;
  margin-left: 4px;
  }

.item-theme-picker .form-item label {
  position:absolute;
  top: -9999em;
  }

ul.theme-picker li p  {
  display:block;
  }


ul.theme-picker li.checked h3, .item-theme-picker li.checked .form-item {
  margin-top: 0;
  }

#cp-settings-theme {
  font-weight: bold;
  color: #4a4a4a;
  font-size: 1.1em;
  padding-top: 1px !important;
  margin: 0 !important;
  }

.theme_subnav {
  padding-top: 13px;
  background:#eaebe9;
  height: 43px;
  padding-left: 30px;
  padding-left: 30px;
  margin-left: -30px;
  margin-top: -30px;
  }

.theme_subnav h3, .theme_subnav ul, .theme_subnav li, #next, #prev {
  float: left;
  margin-right: 10px;
  }

.theme_subnav h3 {
  margin-right: 40px;
  }

.theme_subnav li {
  cursor: pointer;
  margin-right: 0;
  font-size: 1.2em;
  }

.theme_subnav li:hover {
  background: #fff;
  }

.theme_subnav li.active {
  background: #f80000;
  color: #fff;
  }

form#cp-settings-form div.form-radios {
  display:none;
}

#cp-settings-form  {
  clear: both;
  }

.page-cp-settings-theme input#edit-submit {
  margin-left: 30px;
  }